*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, li{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

#topNavBar{
    background-color: #F2B330;
    display: flex;
    text-align: center;
    font-weight: 600;
    justify-content: space-between;
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

#topNavBarList{
    display: flex;
    padding-top: 12px;
}

#topNavBarList li{
    margin-left: 10px;
    margin-right: 10px;
}

#topNavBarGroup1 img{
    padding-top: 12px;
}

#topNavBarGroup3 input{
    margin-left: 25px;
    width: 96px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #FFEF9D;
}

#topNavBarGroup3 img{
    vertical-align: middle;
}

#slideshow1{
    margin-top: 50px;
    margin-left: 600px;
}

#titleAndSearch1{
    position: absolute;
    margin-left: -160px;
    margin-top: 75px;
}

#slideshow1 h1{
    font-size: 50px
    
}

#firstSearchBar{
    position: relative;
    margin-top: 75px;
}

#firstSearchBar input{
    outline: none;
    box-shadow: -3px 10px 100px -25px grey;
    border: none;
    width: 420px;
    height: 60px;
    border-radius: 5px;
    padding-left: 15px;
}

#firstSearchBar input::placeholder{
    font-size: 20px;
    padding-left: 5px;
}

#firstSearchBar img{
    width: 45px;
    position: absolute;
    left: 365px;
    top: 6px;
}

#firstSearchBar #dotornament{
    top: 30px;
    left: -50px;
    z-index: -5;
    width: 75px;
    height: auto;
}

#slideshow1Images img{
    display: flex;
    width: 65%;
}

#slideshow1Images #secondImage{
    width: 58%;
    margin-left: 875px;
    margin-top: -640px;
}

#square1{
    margin-top: 220px;
    margin-left: 25%;
    width: 971px;
    height: 461px;
    background-color: #FBC788;
    border-radius: 10px / 10px;
}

#square1 h1{
    font-size: 50px;
    color: white;
    text-align: right;
    padding-top: 40px;
    padding-right: 45px;
}

#square1 img{
    margin-top: -80px;
}

#square1 #square1FirstImg{
    margin-left: -80px;
}

/*
#filterCategories{
    margin-left: 21.6%;
    margin-top: 170px;
}

#square2{
    width: 499px;
    height: 187px;
    background-color: #F2B330;
    border-radius: 10px / 10px;
}

#square2 select{
    width: 272px;
    height: 45px
}

#square2 select #placeholderOption{
    width: 272px;
    height: 45px
}
*/

#seeWhatsPopular{
    margin-bottom: 250px;
}

#cardSliderNavList{
    display: flex;
    justify-content: space-between;
    margin-left: 480px;
    margin-right: 500px;
}

#cardSliderNavList li{
    border-left: 1.5px solid;
    padding-left: 15px;
    font-weight: bold;
    color: gainsboro;

}

#cardSliderNavList li a{
    color: rgb(167, 167, 167);
}

#cardSliderNavList #cardSliderNavListFirst{
    border-left: none;
    padding-left: 0px;

}

.card-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.card {
    border-radius: 15px;
    background-color: #f7f7f7; 
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.slide-container{
    max-width: 95%;
    width: 100%;
    padding: 40px 0 ;
}
.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 20px;
}

.image-content .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
}

.image-content {
    position: relative;
    row-gap: 5px;
}

.overlay{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card-content .title-card {
    color: #1ea59a;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: 'Patrick Hand', sans-serif;
}

.card-content .desc-card {
    color: #404852;
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: 'Mulish', sans-serif;
}

.card-content .price-card {
    color: #121212;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 20px;
    font-family: 'Mulish', sans-serif;
}
.card-content .price-card img{
    width: 17px;
    height: 17px;
    margin-left: 40px;
}
.card-content .price-card span{
    color: #636363;
    font-size: 12px;
    margin-right: 30px;
    font-family: 'Mulish', sans-serif;
}


.button-card-addToCart{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-family: 'Mulish', sans-serif;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 17px;
    border-color: #FFEF9D;
    background-color: #FFFFFF;
    border-radius: 8px;
    height: 33px;
    width: 130px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-card-buyNow{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-family: 'Mulish', sans-serif;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 19px;
    background-color: #FFEF9D;
    border-style: none;
    border-radius: 8px;
    height: 33px;
    width: 130px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-card:hover{
    background-color: #FBC788;
}

.card-image {
    position: relative;
    height: 289px;
    width: 321px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.swiper-navBtn {
    color: grey;
    transition: all 0.3s ease;
}

.swiper-navBtn:hover {
    color: #121212;
}

/*LANJUTIN CSS DIBARIS INI*/

#reviewCardsSection {
    margin-bottom: 800px;
}

#reviewCardsTitleAndDesc {
    display: flex;
    justify-content: left;
    margin-left: 350px;;
}

#reviewCardsTitleAndDesc h2{
    line-height: 35px;
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

#reviewCards{
    position: relative;
}

#reviewCards #dotOr3{
    position: absolute;
    left: 290px;
    top: 40px;
}

#reviewCard1, #reviewCard2, #reviewCard3{
    margin-left: 10px;
    width: max-content;
    height: 240px;
    border: black solid 2px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
}

#reviewCard1{
    left: 340px;
    top: 50px;
}

#reviewCard2{
    left: 450px;
    top: 450px;
}

#reviewCard3{
    right: 470px;
    top: 200px;
}

#reviewCardSquare{
    width: 410px;
    height: 50px;
    border-bottom: black solid 2px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

#reviewCardContent{
    display: flex;
    position: relative;
}

#reviewCardContent #contentImg{
    margin-left: 10px;
    margin-top: 10px;
}

#reviewCardDescription{
    position: absolute;
    padding-right: 30px;
    left: 270px;
    top: 10px;
}

#reviewCardDescription h2{
    margin-bottom: 8px;
}

#reviewCardDescription img{
    position: absolute;
    top: 130px;
}

#reason1desc {
    color: #404852;
}

#reason {
    padding-left: 300px;
}

#reasonDesc {
    position: relative;
    padding-top: 60px;
}

#reasonDesc img{
    position: absolute;
    left: -70px;
    top: 75px;
}

#reason600 {
    color: #404852;
}

#reason450 {
    color: #404852;
}

#reasonblock {
    display: flex;
    justify-content:space-between;
    margin-left: 50px;
}

#number600 {
    font-size: 80px;
    color: #F2B330;
    font-weight:bolder;
}

#benefit600 {
    margin-bottom:50px;
}

#reason2 {
    position: relative;
}
#number450 {
    font-size: 80px;
    color: #F2B330;
    font-weight:bolder;
}

#benefit {
    margin-top: 50px;
}

#reason2title {
    font-size: 80px;
    color: white;
    position: absolute;
    top:50px;
    left:80px;
    font-weight: bold;
}

#reason2fulldesc {
    font-size: 15px;
    position:absolute;
    top:300px;
    left:80px;
    line-height: 25px;
}

#reason2link a {
    color: #DC0D17;
    font-weight: bold;
}

#seeMoreDesc a{
    color: #1ea59a;
}

#recommended {
    margin-left: 22%;
    margin-top: 100px;
}

#listrecommend{
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content min-content;
    row-gap: 50px;
    column-gap: 50px;
}

#recommendcard{
    width: max-content;
}

#rcmdtitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

#rcmdimg{
    border-radius: 10px;
}

#recommenddescandrating{
    position: relative;
}

#recommendtitle{
    margin-top:15px;
    color: #1EA59A;
    font-size: 22px;
}

#recommendtext{
    margin-top:10px;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 25px;
    width: 65%;
    margin-bottom: 10px;
}

#recommendprice{
    font-weight: bolder;
    font-size: 20px;
}

#rating{
    position: absolute;
    top: 0;
    left: 75%;
    display: flex;
}

#ratingnumber{
    vertical-align: middle;
    padding-left:10px;
    font-size: 20px;
}

#review{
    margin-top: 150px;
}

#apakata {
    font-size: 80px;
    color: white;
    top:350px;
    left:145px;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 80px;
    width:30%
}

#apaKataMerekaBox{
    position: relative;
}

#dotOrnamentKataMereka{
    position: absolute;
    top: 250px;
    left: 100px;
}

#quoteImg{
    position: absolute;
    top: 210px;
    left: 150px;
}

#apakata p{
    position: absolute;
    top: 400px;
    left: 150px;
    
}

#subscribe {
    position: relative;
    margin-top: 100px;
    margin-left: 15%;
    margin-bottom: 130px;
}

#subsdesc{
    position: absolute;
    top: 16%;
    left: 5%;
    color: white;
}

#subsnow{
    font-size: 32px;
}

#persen{
    font-size: 80px;
    font-weight: bold;
    color: #F2B330;
}

#firstsubs{
    color: #E0E0E0;
    margin-top: 10px;
    margin-bottom: 20px;

}

#inputemail{
    outline: none;
    box-shadow: -3px 10px 100px -25px grey;
    border: none;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    position: relative;
}

#emailbtn{
    position: absolute;
    left: 75%;
}

footer{
    background-color: #FBC788;
    text-align: center;
    padding: 50px;
}