*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, li{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

#topNavBar{
    background-color: #F2B330;
    display: flex;
    text-align: center;
    font-weight: 600;
    justify-content: space-between;
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

#topNavBarList{
    display: flex;
    padding-top: 12px;
}

#topNavBarList li{
    margin-left: 10px;
    margin-right: 10px;
}

#topNavBarGroup1 img{
    padding-top: 12px;
}

#topNavBarGroup3 input{
    margin-left: 25px;
    width: 96px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #FFEF9D;
}

#topNavBarGroup3 img{
    vertical-align: middle;
}

#slideshow1{
    margin-top: 50px;
    margin-left: 600px;
}

#titleAndSearch1{
    position: absolute;
    margin-left: -160px;
    margin-top: 75px;
}

#slideshow1 h1{
    font-size: 50px
    
}

#firstSearchBar{
    position: relative;
    margin-top: 75px;
}

#firstSearchBar input{
    outline: none;
    box-shadow: -3px 10px 100px -25px grey;
    border: none;
    width: 420px;
    height: 60px;
    border-radius: 5px;
    padding-left: 15px;
}

#firstSearchBar input::placeholder{
    font-size: 20px;
    padding-left: 5px;
}

#firstSearchBar img{
    width: 45px;
    position: absolute;
    left: 365px;
    top: 6px;
}

#firstSearchBar #dotornament{
    top: 30px;
    left: -50px;
    z-index: -5;
    width: 75px;
    height: auto;
}

#slideshow1Images img{
    display: flex;
    width: 65%;
}

#slideshow1Images #secondImage{
    width: 58%;
    margin-left: 875px;
    margin-top: -640px;
}

#square1{
    margin-top: 220px;
    margin-left: 25%;
    width: 971px;
    height: 461px;
    background-color: #FBC788;
    border-radius: 10px / 10px;
}

#square1 h1{
    font-size: 50px;
    color: white;
    text-align: right;
    padding-top: 40px;
    padding-right: 45px;
}

#square1 img{
    margin-top: -80px;
}

#square1 #square1FirstImg{
    margin-left: -80px;
}

#filterCategories{
    margin-left: 21.6%;
    margin-top: 170px;
}

#square2{
    width: 499px;
    height: 187px;
    background-color: #F2B330;
    border-radius: 10px / 10px;
}

#square2 select{
    width: 272px;
    height: 45px
}

#square2 select #placeholderOption{
    width: 272px;
    height: 45px
}

/*LANJUTIN CSS DIBARIS INI*/
.card-slider {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 15px;
    background-color: #F9F9F9; 
}

.slide-container{
    max-width: 95%;
    width: 100%;
    padding: 40px 0 ;
}
.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 20px;
}

.image-content .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
}

.image-content {
    position: relative;
    row-gap: 5px;
}

.overlay{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card-content .title-card {
    color: #1ea59a;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: 'Mulish', sans-serif;
}

.card-content .desc-card {
    color: grey;
    font-weight: lighter;
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: 'Mulish', sans-serif;
}

.card-content .price-card {
    color: #121212;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 20px;
    font-family: 'Mulish', sans-serif;
}

.button-card{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-family: 'Mulish', sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 75px;
    background-color: #FFEF9D;
    border-radius: 5px;
    height: 31px;
    width: 185px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-card:hover{
    background-color: #FBC788;
}

.card-image {
    position: relative;
    height: 289px;
    width: 321px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.swiper-navBtn {
    color: grey;
    transition: all 0.3s ease;
}

.swiper-navBtn:hover {
    color: #121212;
}

footer{
    background-color: #FBC788;
    text-align: center;
    padding: 50px;
}