*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#mainBody{
    background-color: rgb(253, 236, 199);
    margin-left: 50px;
    margin-right: 50px;
}

header{
    padding-top: 20px;
}

#topNav {
    background-color: rgb(230, 182, 119);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li, a{
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

li {
    display: inline-block;
    padding: 0px 10px;
}

.nav_links{
    padding-left: 20px;
}

.navSecondBar{
    align-items: center;
    display: flex;
    padding-right: 20px;
}

a:visited{
    color: black;
}

img {
    background: transparent;
    width:25px;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    margin-left: 70px;
}

#getStarted_btn{
    background-color:#fe753f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 8px;
    width: 130px;
    height: 45px;
}

.ourbenefits {
    width: 80%;
    margin: auto;
    padding-left: 5px;
    text-align: left;
    padding-top: 20px;
    background-color: gray;
    border-radius: 40px;
}
.ourbenefits h2 {
    display: block;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row_text_card {
    flex: 1 1 21rem;
    margin: 10px 20px;
    background-color: aliceblue;
    box-shadow: 0 0 15px rgba (0,0,0,4);
    padding: 10px 10px;
}

footer{
    background-color: rgb(230, 182, 119);
    text-align: center;
    padding: 50px;
}